header{
    padding: 15px;
    background-image: linear-gradient(#ffdd99, #ffff66);
}

h1{
    font-family: 'Arima Madurai', cursive;
    color: #e6005c;
    text-align: center;
    font-size: 50px;
    padding-top: 15px;
}

body{
    background-color:ivory;
    font-family: 'Public Sans', sans-serif;
}

.barraNavegacion{
    background-color: #e6005c !important;
}

.barraNavegacion a{
    color:white !important;
    font-size: 18px;

}

.barraNavegacion a:hover{
    font-weight: bold;
}

.botonBuscar{
    border: 1px solid #99ffd6;
    color:#e6005c;
    background-color: #99ffd6;
}

.botonBuscar:hover{
    background-color:#ff661a;
    border: 1px solid #ff661a;
    
}



#carrusel{
    width: 900px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contenedorDestacados{
    margin: 100px auto;
}

.cajasDestacados{
    text-align: center;
    background-color: #99ffd6;
    padding: 20px 15px;
    margin: 10px;
    border-radius: 5px;
    transition: all 0.5s;
    
}

.cajasDestacados:hover{
    background-image:linear-gradient(to left, #ffdd99, #ffff66);
}

.cajasDestacados a{
    text-decoration: none;
    color: #e6005c;
    font-size: 20px;
    padding: 20px 15px;
}


#seccionLinksCalidad{
    margin-top: 80px;
    margin-bottom: 80px;
}

.linksCalidad{
   margin: 20px;

}

.linksCalidad img{
    width: 200px;
    height: 150px;
    border-radius: 100%;
    margin: auto;
    padding: 0px;

}

.linksCalidad a{
    text-decoration: none;
    text-align: center;
    color: #e6005c;
    font-size: 18px;

}

footer{
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: linear-gradient(#ffff66, #ffdd99);
}

footer a{
    color: #e6005c!important;
    font-size: 16px;

}

footer a:hover{
    text-decoration: underline;
}

/* estilos página Fragancias */

.contenedorTienda{
    margin-top: 50px;
    margin-bottom: 50px;
    animation-name: animacionProductos;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}

.cajaProducto img{
    width: 400px;
    margin: auto;
}

.descripcionProducto{
    border: none;
}

@keyframes animacionProductos{
    0% {
        opacity: 0;    ;
    }
    
    100%{
        opacity: 1;
    }
         
}

.botonComprar{
    background-color: #e6005c;
    border: 1px solid #e6005c;
}

.botonComprar:hover{
    background-color: #ff661a;
    border: 1px solid #ff661a;
}

/* media queries */

@media screen and (max-width: 768px) {
    iframe{
        width: 500px;
        height: 281px;
        margin-bottom: 5px;
    }

    
}